<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.title }}</title>
        <meta name="description" content="Articles and experiments on front-end web development, user experience, and accessibility by Mardav Wala">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{{ site.baseurl }}css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/mw.css">
    </head>
    <body>